@model UserModel

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/img/portfolio/fullsize/7.jpg" title="Project Name">
                    <img class="img-fluid" src="/assests/img/portfolio/thumbnails/7.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Quick scan</div>
                        <div class="project-name">Find vulnerable file names</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assests/img/portfolio/fullsize/8.jpg" title="Project Name">
                    <img class="img-fluid" src="/assests/img/portfolio/thumbnails/8.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Discourage cyber thiefs</div>
                        <div class="project-name">Don't give them an excuse</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assests/img/portfolio/fullsize/9.jpg" title="Project Name">
                    <img class="img-fluid" src="/assests/img/portfolio/thumbnails/9.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Protect yourself</div>
                        <div class="project-name">Better safe than sorry</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0" id="about">Hades At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Ready to Go</h3>
                    <p class="text-muted mb-0">Download Hades and you are ready to go!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">No. of customers</h3>
                    <p class="text-muted mb-0" style="font-size:30px">@Model.NoOfUsers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">No. of scans to date</h3>
                    <p class="text-muted mb-0" style="font-size:30px">@Model.NoOfScans</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Security is paramount</h3>
                    <p class="text-muted mb-0">Keep sensitive data away from prying eyes</p>
                </div>
            </div>
        </div>
    </div>
</section>
